<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>		
			<h1>
				<%= gravatar_for @user %>			
				<%= @user.name %>
			</h1>
		</section>
	</aside>	
	<div class="span8">
		<% unless @user.brewery.nil? %>					
			<h3><%= @brewery.name %></h3>
			<p><%= @brewery.site_url %></p>
			<p><%= @brewery.twitter_url %></p>
			<p><%= @brewery.description %></p>
		<% end %>
	</div>							
</div>	
